//mixin for common properties
.container-layout {
  width: 80%;
  margin: auto;
}

.border-radius(@radius) {
-webkit-border-radius: @radius;
-o-border-radius: @radius;
-moz-border-radius: @radius;
-ms-border-radius: @radius;
border-radius: @radius;
}

.background_carousel {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;			
}

.backgroundColor (@color-background) {
	background-color:@color-background;
}

.capitalize {
	text-transform:capitalize;
}

.fontVerdana {
	font-family:"verdana", sans-serif;
}

.fontCapriola {
	font-family: 'Capriola', sans-serif;
}

.text-shadow(@string:0 1px 2px rgba(0,0,0,.6)) {
	text-shadow: @string;
}

.panelCarousel(@left) {
	width:35%;
	.border-radius(16px);
	padding:2em;
	margin-left:@left;
}

.hover {
	.backgroundColor(@light-orange);
	color:@light;
}


.carouselDefault {

	margin-top:@margin;

	.carousel-indicators {
		bottom:30px;
	}

	.carousel-inner {
			
		.thumbnail {
			.border-radius(16px);
			height:500px;
		}
	}

	.carousel-control{
		z-index:@index+10;
		background-image:none;

		.glyphicon-chevron-right {
			right:30%;
		}

		.glyphicon-chevron-left {
			left:30%;
		}
	}

	.carousel-caption {
		.fontCapriola;
		text-align:left;
		color:@dark;

		h3 {
			font-size:@fontSize+1;
			margin-bottom:0.5em;

		}	

		p {
			line-height:1.8em;
			text-shadow:none;
			.fontVerdana;				
		}
	}
}


//Quick float
.right {
  float: right;
}
.left{
  float: left;
}