//type variables
@fontSize: 1em;

//layout variables
@margin: 1em;
@padding: 1em;
@index:10;

//theme color variable
@template-color:@blue-background;

//color variable
@blue-background:#33CCCC;
@magenta-logo:#F49AC2;
@blue-logo:#3287C7;
@light-orange:#FFC606;
@light-yellow:#FDFD96;
@font:#28293b;
@light:#FFF;
@dark:#333;




